* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

 .background {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

 .bird {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 1;
}

.pipe {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-color: #41E03E;
}

.startMessage {
    position: absolute;
    z-index: 10;
    height: 10vh;
    font-size: 8vh;
    font-weight: 100;
    color: black;
    top: 12vh;
    left: 30vw;
    text-align: center;
}

.scoreLabels {
    position: absolute;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}